# API URLs
# The URL of the VeerNXT Profiling Engine (FastAPI)
# Default for local development is http://localhost:4000
VITE_ENGINE_API_URL="http://localhost:4000"

# Main App URL
VITE_MAIN_APP_URL="https://app.veernxt.in"
